In [47]:
import pandas as pd
import numpy as np

Step 1: Clean data

In [48]:
df = pd.read_csv('/Users/kali/Documents/GitHub/Mongo_db/student/student-mat.csv')
df.info()

#identify problem: There is only one column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                               --------------  -----
 0   school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3  395 non-null    object
dtypes: object(1)
memory usage: 3.2+ KB

Adding a delimiter to seperate the columns

In [49]:
df = pd.read_csv('/Users/kali/Documents/GitHub/Mongo_db/student/student-mat.csv', delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

Turning paid column into an int

In [50]:
paid = df.paid.to_numpy()
for i, p in enumerate(paid):
    if p == 'yes':
        paid[i] = 1
    else:
        paid[i] = 0
df.paid = paid

print(df['paid'])

0      0
1      0
2      1
3      1
4      1
      ..
390    1
391    0
392    0
393    0
394    0
Name: paid, Length: 395, dtype: object

In [57]:
from sklearn.pipeline import make_pipeline

In [59]:
data_cleaner = make_pipeline(
    df = pd.read_csv('/Users/kali/Documents/GitHub/Mongo_db/student/student-mat.csv', delimiter=';')
    paid = df.paid.to_numpy()
for i, p in enumerate(paid):
    if p == 'yes':
        paid[i] = 1
    else:
        paid[i] = 0
df.paid = paid

print(df['paid'])
)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1320939142.py, line 2)